<mat-card class="mat-card">
  <mat-card-title class="mat-card-title">
    Carte intéractive
  </mat-card-title>
  <mat-card-subtitle class="mat-card-subtitle">
    Mes endroits favoris !!!
  </mat-card-subtitle>
  <mat-card-content>
    <agm-map [latitude]="lat" [longitude]="long" [zoom]="6">
      <agm-marker [latitude]="marker.lat" [longitude]="marker.long" *ngFor="let marker of markers">
        <agm-info-window>{{ marker.sport }}</agm-info-window>
      </agm-marker>
    </agm-map>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Localisations</mat-card-title>
  <mat-card-subtitle>Liste des sports</mat-card-subtitle>
  <mat-list>
    <mat-list-item *ngFor="let marker of markers">{{ marker.sport }}</mat-list-item>
  </mat-list>
</mat-card>