<mat-card class="mat-card" fxFlex="1 1 auto" fxFlexAlign="stretch">
  <mat-card-title class="mat-card-title">
    Carte intéractive
  </mat-card-title>
  <mat-card-subtitle class="mat-card-subtitle">
    Mes endroits favoris !!!
  </mat-card-subtitle>
  <mat-card-content  fxLayout="column">
    <agm-map [latitude]="lat" [longitude]="long" fxFlexFill [zoom]="6">
      <agm-marker [latitude]="marker.lat" [longitude]="marker.long" *ngFor="let marker of markers">
          <agm-info-window>{{ marker.sport }}</agm-info-window>
      </agm-marker>
    </agm-map>
  </mat-card-content>
</mat-card>