<mat-toolbar color="primary">
    <span>PinIt App</span>
    <span fxFlex="1 1 auto"></span>
    <authentication></authentication>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav class="mat-elevation-z24" mode="side" opened="true" #sidenav>
      <mat-nav-list>
          <mat-list-item routerLink="/">
              <mat-icon>home</mat-icon>
              <span class="pi-nav-link">Accueil</span>
          </mat-list-item>
          <mat-list-item routerLink="map">
              <mat-icon fontSet="fa" fontIcon="fa-map"></mat-icon>
              <span class="pi-nav-link">Mes endroits favoris</span>
          </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <div class="pi-content"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center stretch">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>