<md-toolbar color="primary">
    <span>PinIt App</span>
    <span class="flex-space"></span>
    <authentication></authentication>
</md-toolbar>
<md-sidenav-container>
    <md-sidenav class="mat-elevation-z24" mode="side" opened="true" #sidenav>
      <md-nav-list>
          <md-list-item routerLink="/">
          <md-icon>home</md-icon>
              <span class="pi-nav-link">Accueil</span>
          </md-list-item>
      </md-nav-list>
    </md-sidenav>
    <div class="container-inner">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>